@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>

<div class="row">
	<span>Total Views:</span>
	<span id="totalViews">
	</span>

	<span>Total Users:</span>
	<span id="totalUsers">
	</span>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/user.js"></script>

